html{
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 800;
}

body{
    margin: 0;
}

.panels{
    min-height: 30vh;
    display: flex;
    font-size: 50px;
    color: whitesmoke;
    -webkit-text-stroke: 2px rgb(31, 31, 31);
}

.panel{
    flex: 1;
    background-color: blueviolet;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: flex 0.7s cubic-bezier(0,.68,.91,.83);
}

.open{
    flex: 5;
}

.MainImg{
    max-width: 400px;
    max-height: auto;
}

#home{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 4rem;
}

#home>.colorLabel{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
}

.aboutPanels{
    width: 100%;
 margin-top: 10px;
 margin-bottom: 20px;
 padding: 15px;
 border-radius: 15px;
 box-shadow: 0 0 10px gray;
}

.aboutContent{
    width: 100%;
    min-height: 50vh;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: center;
}

.aboutPageButtonLeft{
    border-radius: 15px 0 0 15px;
    height: 50vh;
    width: 5%;
}

.aboutText{
    height: 100%;
    width: 90%;
}

.aboutPageButtonRight{
    border-radius: 0 15px 15px 0;
    height: 50vh;
    width: 5%;
}