/*index*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kode+Mono:wght@600&display=swap');

html{
    box-sizing: border-box;
}

body{
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: rgb(115, 144, 114);
    background-image: url("https://i.ibb.co/NrfJTnF/photo-1541339246244-261d72e381b7.png");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(236, 227, 206);
    user-select: none;
    color: rgb;
}

h1{
    font-size: 50px;
}

.nav-link, .navbar-brand{
    color: rgb(236, 227, 206) !important;
}

.navbar{
    background-color: rgb(58, 77, 57);
}

.navbar-toggler-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(236, 227, 206);
}

.navIcon{
    max-width: 50px;
}

.card{
    background-color: rgb(79, 111, 82);
    box-shadow: 0 5px 20px 5px rgb(31, 31, 31);
    padding: 10px;
    border-radius: 15px;
    min-height: 420px;
}

.card>button{
    padding: 0;
}



/*home*/

@media only screen and (max-width: 767px) {
    #colTextHome{
        background-image: none !important; 
    }
}

.MainImg{
    width: 100%;
    max-width: 400px;
    max-height: auto;
    border-right: 3px solid rgb(236, 227, 206);
    background-color: rgba(79, 111, 82, 0);
}

#home{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(115,144,114);
    background: radial-gradient(circle, rgba(115,144,114,1) 2%, rgba(79,111,82,1) 30%, rgba(58,77,57,1) 63%);
    border-radius: 15px;
    box-shadow: 0 5px 20px 5px rgb(31, 31, 31);
}

.col>.colorLabel{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#home>.row>.col{
    display: flex;
    justify-content: center;
    align-items: center;
}

#home>.row{
    width: 100%;
}

#colTextHome{
    background-image: url("https://i.ibb.co/44mTfsB/2a881ad812cdb2ab98c936b71dbda4e2.png");
    background-repeat: no-repeat;
    background-position: -200px 20%;
    background-attachment: local;
}

#colTextHome::view-transition{
    background-image: none;
}

#colImgHome{
    background-color: rgba(79, 111, 82, 0);
}

/*about*/

.panels{
    min-height: 30vh;
    display: flex;
    font-size: 50px;
    color: whitesmoke;
    -webkit-text-stroke: 2px rgb(31, 31, 31);
}

.panels:hover{
    cursor: pointer;
}

.panel{
    font-size: 6vh;
    flex: 1;
    background-color: rgb(58, 77, 57);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: flex 0.7s cubic-bezier(0,.68,.91,.83);
}

.aboutPanels{
    background-color: rgb(30, 51, 29);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px 5px rgb(31, 31, 31);
}

.aboutContent{
    background: rgb(58,77,57);
    background: linear-gradient(162deg, rgba(58,77,57,1) 24%, rgba(79,111,82,1) 51%, rgba(115,144,114,1) 76%);
    min-height: 300px;
    margin-bottom: 50px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 20px 5px rgb(31, 31, 31);
    display: flex;
    justify-content: center;
}

.aboutPageTextLeft{
    background-color: rgb(30, 51, 29);
    border-radius: 15px 0 0 15px;
    border: 0;
    min-height: 300px;
    width: 5%;
}

.aboutText{
    width: 90%;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text>h2{
    font-size: 3rem;
}

.aboutPageTextRight{
    background-color: rgb(30, 51, 29);
    border-radius: 0 15px 15px 0;
    border: 0;
    min-height: 300px;
    width: 5%;
}

.open{
    flex: 5;
}

.aboutImg{
    width: 100%;
    max-width: 500px;
    max-height: auto;
}

.easterEgg{
    text-decoration: none;
    color: rgb(236, 227, 206);
}

.easterEgg:hover{
    color: rgb(236, 227, 206);
}

.textPanels>.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textPanels{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (min-width: 1200px) {
    .id1{
        border-radius: 15px 0 0 15px;
    }

    .id3{
        border-radius: 0;
    }

    .id6{
        border-radius: 0 15px 15px 0;
    }
}

@media only screen and (max-width: 1199px) {
    .id1{
        border-radius: 15px 0 0 0;
    }

    .id5{
        border-radius: 0 15px 0 0;
    }

    .id6{
        border-radius: 0 0 15px 15px;
    }
}

@media only screen and (max-width: 991px) {
    .id1{
        border-radius: 15px 0 0 0;
    }

    .id3{
        border-radius: 0 0 0 0;
    }

    .id4{
        border-radius: 0 15px 0 0;
    }

    .id5{
        border-radius: 0 0 0 15px;
    }

    .id6{
        border-radius: 0 0 15px 0;
    }
}

@media only screen and (max-width: 767px) {
    .id1{
        border-radius: 15px 0 0 0;
    }
    
    .id3{
        border-radius: 0 15px 0 0;
    }

    .id4{
        border-radius: 0 0 0 15px;
    }

    .id6{
        border-radius: 0 0 15px 0;
    }
}

@media only screen and (max-width: 530px) {
    .id1{
        border-radius: 15px 0 0 0;
    }
    
    .id2{
        border-radius: 0 15px 0 0;
    }

    .id5{
        border-radius: 0 0 0 15px;
    }

    .id6{
        border-radius: 0 0 15px 0;
    }
}



/*projects*/

.projectButtons{
    display: flex;
    justify-content: space-around;
}

.projectsData{
    margin-top: 50px;
}

.projectSingleButton{
    background-color: rgb(30, 51, 29);
    color: rgb(236, 227, 206) !important;
}

.modal-body{
    display: flex;
    justify-content: center;
    background-color: rgb(79, 111, 82);
}

.modal-header{
    background-color: rgb(30, 51, 29);
}

.modal-content{
    background-color: rgb(79, 111, 82);
}

#projectsCardHeader{
    width: 100%;
    border-radius: 15px 15px 0 0;
}



/*contacts*/

#contactCard{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 600px;
    padding: 0;
    background-color: rgb(58,77,57);
}

.mailAndPhone{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mailLi{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.mailLi>p{
    margin-left: 20px;
}

.mailUl{
    padding: 0;
    width: 100%;
}

.contactsSocial{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.contactsSocial>.col{
    height: 160px;
    display: flex;
    justify-content: center;
}

.contactsSocial>.col>a{
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 50px;
    max-width: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactSingleButton{
    width: 100%;
    height: 100%;
    background-color: rgb(30, 51, 29);
    background-image: url("https://i.ibb.co/PTM7w58/istockphoto-468205873-1024x1024.png");
    background-repeat: no-repeat;
    background-position: -4px 0;
    background-size: 150px;
    color: rgb(236, 227, 206) !important;
}

.contactsPage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactsButton{
    cursor: pointer;
}

.card-header{
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-color: rgb(30, 51, 29);
}